@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
    margin: 0px;
}



/** /write에서 사용 */
.p-20 {
    padding: 20px;
  }
  input {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    margin-bottom: 10px;
  }
  button {
    padding: 10px 15px;
    background: lightgray;
    border: none;
    border-radius: 5px;
  } 